.product-list {
  @include extend("d-flex");
  gap: 16px;

  .product-card {
    transition: .3s box-shadow;

    &:hover {
      @include extend("shadow");
    }

    padding: 16px;


    .product-image {
      @include extend("img-fluid max-width");
    }

    .product-info {

      .product-name {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 300;
        line-height: 28.8px;
      }

      .product-price {
        //styleName: --price-regular-font;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: right;
      }
    }
  }
}